*{
    padding: 0;
    margin: 0;
}

.body{
    text-align: center;
    background-color:white;
    color: black;
    padding: 5em;
}
.cont-h1{
    font-size:45px;
    letter-spacing: .6px; 
    font-style: 10px;
    
}

.but-1{
    border-radius: 50px;
    background-color: green;
    padding: 13px 60px;
    outline: none;
    border: none;
    color: white;
    font-weight:900;
    font-size: 11px;
}
