.About-us-container
{
    background-color: white;
    display: flex;
    color: black;
    padding:2rem 5rem;
}
.About-us-Images
{
    flex: 3;
    display: flex;
    height: 200px;
    gap: 50px;
    align-items: center;
    
}

.About-us-Img
{
    height: 180px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
}
.about-img
{
    height: 100%;
    width: 100%;
    z-index: 99;
}
.img-text{
    color: black;
    position: absolute;
    top: 10%;
    transform: translateY(-50%) translateX(50%);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
}
.text-sec
{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    transform: translateY(-50%);
    top: 10%;
    left: 10%;
    white-space: nowrap;
}


.About-us-Img::before
{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background:rgb(240,248,255);
    opacity: 0.7;
    transition: all 0.7s linear;
}

.About-us-Img:hover::before{
   opacity: 0;
}

.About-us-Text
{
    flex: 1;
}
.span-text
{

    display: block;
    padding: 0 3rem;
    color: #009E60;
}

