
.pickup-content{
  background-color: #DBDBDB;
}
.pickuplocation-icon{
  font-size: 20px;
  color: #009e60;
  background-color: yellow;
  border-radius: 15px;
  padding-top: 5px;
}
.pickup-coolock {
  padding: 5px 0px 0px 0px;
}
.pickup-address p{
  line-height: 8px;
  font-size: 14px;
}
.completeorder-hrline{
  border: 1px solid #616060;
}
.selectdate{
  font-size: 14px;
}
.firstrow-buttons,.secondrow-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.firstbutton {
  background-color: white;
  color: #000000;
  font-size: 13px;
  max-width: 22%;
  padding: 20px 20px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.secbutton{
  background-color: white;
  color: #000000;
  max-width: 22%;
  font-size: 13px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.firstbutton.hovered,
  .secbutton.hovered {
    background-color: #009e60;
    border: none;
    color: white;
  }
.arrow-container {
  position: absolute;
  right: 445px;
  top: 465px;
  display: flex;
}
.arrow  {
  width: 35px;
  height: auto; 
}
.yourorder-content{
  background-color: #DBDBDB;
  justify-content: center;
  padding: 10px 0px 10px 10px;

}
.arrowsortdown img{
  width: 20px;
  height: 20px; 
}
.arrow-container {
  position: absolute;
  right: 445px;
  top: 535px;
  display: flex;
  align-items: center;
}

.subtotal p{
  line-height: 15px;
  font-size: 14px;
}
.payment {
  background-color: lightgray;
  height: 50px;
}

.badge {
  margin-right: 10px;
  padding: 7px;
  color: white;
  border: none;
  background-color: #ff6d24;
}
.paybutton {
  background-color: white;
  color: black;
  border: none;
  font-size: 14px;
  width: 100%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 30px;
}

.applepay {
  background-color: #080808;
  color: white;
  font-size: 14px;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.apple-icon{
  font-size: 25px;
}
.pay {
  background-color: #009e60;
  color: white;
  font-size: 14px;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 30px;
}

.link {
  text-decoration: none;
}

@media (max-width:786px) {
  .arrow-container {
    right: -10px;
    top: 525px;
    display: flex;
  }
  .arrow  {
    width: 30px;
    height: auto; 
  }
}

