.successmsg {
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
}
.successcontainer {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem 1rem;
  margin: 0% auto;
}
.tick{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-bottom: 20px;
    margin-inline-start: 220px;
  }
.message  {
  font-weight: 700;
  white-space: nowrap; 
}
.textcontent {
  font-size: 20px;
}

.vieworder {
  background-color: #009e60;
  color: #fff;
  border: none;
  font-size: 15px;
  max-width: 100%;
  font-family: "poppins";
  font-weight: 600;
  padding: 10px 120px;
  border: 2px solid;
  border-radius: 30px;
  margin-bottom: 20px;
}

/* Media Screen */

@media (max-width: 400px) {
  .successmsg {
    height: auto;
    z-index: 1;
    width: 100%;
    margin-top: 30px;
  }

  .successcontainer {
    min-height: 100%;
    width: 100%;
    padding: 1rem;
  }
  .tick{
    width: 100%;
    margin-bottom: 20px;
    margin-inline-start: 0px;
  }
  .message {
    font-size: 20px;
    white-space: nowrap;
  }
  .textcontent {
    font-size: 14px;
    white-space: nowrap;
  }
  .vieworder {
    background-color: #009e60;
    color: #fff;
    font-size: 12px;
    border: none;
    padding: 6px 50px;
    border: 2px solid;
    border-radius: 30px;
    margin-bottom: 20px;
  }
}
