
.meals {
  height: 80px;
  object-fit: contain;
}

.slider-valuemeals h6{
  font-size: 12px;
}
.box-1 {
  margin-left: 150px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 2px 5px;
  display: flex;
  align-items:center;
  height: 110px;
  margin-top: 28px;
}

.box-2 {
  margin-left: 150px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 2px 5px;
  display: flex;
  align-items: center;
  height: 110px;
  margin-top: 28px;
}
.center-card-hover{
  background-color: #009e60;
  color: white;
  margin-left: 90px;
}

.size {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.meals-line {
  position: relative;
}
.meals-line-img {
  height: 450px;
  width: 500px;
}

.mealsfood {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 15%;
  left:50%;
  object-fit: cover;
}

.size-food {
  position: absolute;
  top: 35%;
  left: 10%;
}
.letsgo-button{
  outline: none;
  border: none;
  background-color: #009e60;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  width: 60%;
  margin-left: 40px;
}
/* icons Arrow */
.icons {
  color: #009e60;
  font-size: 20px;
}
.main-box {
  position: relative;
}
.icons:nth-child(1) {
  position: absolute;
  right: 40px;
  top: -50px;
}
.icons:last-child {
  position: absolute;
  right: 40px;
  bottom: -50px;
}

.phone-style {
  display: none;
}
.line-menu {
  width: 84%;
  margin-left: 6%;
}
.valueMeals {
  margin-top: 60px !important;
  margin-bottom: 70px !important;
}
.valuemeals-mobileview {
  display: none;
}

/* Media Querry */
@media (max-width: 768px) {
  .size-food {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    white-space: nowrap;
  }
  .mealsfood {
    display: none;
  }
  .main-box {
    display: none;
  }
  .phone-style {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 999;
    width: 100%;
    background-color: #009e60;
    text-align: center;
  }

  .phone-style > select {
    background-color: #009e60;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
  }

  .meals-line-img {
    display: none;
  }
  .valueMeals {
    display: none;
  }
  .valuemeals-mobileview {
    display: flex;
  }
  .letsgo-buttonmobile{
    outline: none;
    border: none;
    background-color: #009e60;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    width: 25%;
  }
  .card-valuemeals{
    width: 75%;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(1, 1, 1, 0.3) 0px 2px 5px;
  }
  .card-imgtop-valuemeals{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .card-text-valuemeals{
    font-size: 11px;
  }
  .arrows-valuemeals{
    font-size: 25px;
    color: #009e60;
    position: relative;
    top: 170px;
  }
}

