.makeorder_image1{
    height: 500px;
}
.makeorder_but{
    background-color: #009E60;
    color: white;
    /* border-radius: 25%; */
    outline: none;
    border: none;
    padding: 5px 10px;
    
}
.left-box1 h1{
    font-size: 45px;
    font-weight: 700;
    width: 400px;
}
.left-box1{
    margin-left: 10%;
    margin-top: 8%;
    width: 500px;
}

.second-body{
    display: flex;
}

/* makeorder 1*/

.left-box-2{
    width: 550px;
    margin-left: 10%;

}
.left-box-2 h1{
    width: 500px;
    
}
.order-h1-1 {
    font-size: 45px;
    font-weight: 750;
}
.sec-body{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 10%;
    text-align: center;
}
.bell_image1{
    height: 100px;
}
.bell-content{
 
   width: 500px;
  
 
}
.bell-h1-1{
    color: #009E60;
    font-weight: 700;
}
.h1-title{
    font-weight: 700;
    font-size:50px;
}
.get-h1-1{
    font-weight: 700;
    font-size:40px;
}
.third_body{
    background-color: #FFDBDB;
    padding: 2em;
   
}
.get-but{
    width: 200px;
    background-color:#009E60;
    outline-color: #009E60;
    border:none;
    margin-left: 40%;
    color: white;
    font-weight: 700;
    font-size: smaller;
    padding: .8em;
    
}
.fourth_body{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.fran-h1{
    color: #009E60;
    margin-left: 7%;
}
.franchising_content{
    width: 400px;
    margin-left: 25%;
}
.span-cont{
    font-size: 20px;
    border-bottom: 2px solid #009E60 ;
    padding: .2em;
    width: 140px;
    color: black;
    
}
.franc-h1-1{
    color: #009E60 ;
    font-size: 20px;
    font-weight: 500;
}
