.location-banner{
    height: 400px;
    object-fit: cover;

}
.location-text1{
  
    position: absolute;
    top: 100px;
    left: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align:start;

}
.location-text2{
    position: absolute;
    top:170px;
    color: white;
    font-size:10px;
    font-weight:bolder;
    text-align: start;
  }
.common-heading{
    white-space: nowrap;
}
.icon-location{
    width: 4%;
    height: auto;
}
.sub-heading{
    color: #009e60;
}
.para-address{
    line-height: 8px;
    white-space: nowrap;
}
.divider{
    border: 1px solid;
}
.view-store-btn{
    outline: none;
    border: none;
    border: 2px solid #009e60;
    background-color: white;
    color: #009e60;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    width: 40%;
    white-space: nowrap;

}
.email-input{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    font-size: 14px;
}
.google-map {
    padding-bottom:40px;
    position: relative;
}

.google-map iframe {
    height: 150vh;
    width: 100%;
    left: 0;
    top: 20px;
    position: relative;
    
}
@media (max-width:780px) {
    .location-banner{
        height: auto;
    }
    .divider{
        width: 80%;
        margin-inline-start: 30px;
    }
    .google-map iframe {
        height: 90vh;
        width: 100%;
    }
}



