.account-details {
  width: 100%;
  height: auto;
}
.input-field1 {
  position: relative;
  width: 500px;
  margin-top: 10px;
}

.input-field1 input {
  border: 2px solid #009e60;
  width: 90%;
  padding: 7px 10px;
  border-radius: 30px;
  outline: none;
  margin-top: 10px;
}

.input-field1 label {
  font-size: 14px;
  background-color: white;
  position: absolute;
  left: 20px;
  top: 0px;
  color: #a3a1a1;
}
.bottom-icons{
    width: 22px;
    height: auto;
}
.bottom-content p:hover{
    color: #009e60;
}
.bottom-content p{
  font-size: 14px;
}

@media (max-width: 786px) {
  .input-field1 input {
    width: 100%;
  }
}
