.crispyimg1{
    width: 25%;
    height: auto;
    background-color:#FFE6D7;
}
.imagerow1 p{
    line-height: 10px;
    font-size: 14px;
}
.one-item{
    display: none;
}
.imagerow1-button{
    font-size: 13px;
    outline: none;
    border: none;
    background-color: #009E60;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}
.imagerow1-btn{
    display: flex;
    gap: 20px;
}
.imagerow1-button-top{
    font-size: 13px;
    outline: none;
    border: none;
    background-color: #009E60;
    border-radius: 20px;
    color: white;
    padding: 5px 25px;
}
.orderhistory-hrline{
    border: 1px solid #646464;
    width: 95%;
    margin-bottom: 40px;
}
.order-number{
    margin-left: 30%;
    font-size: 14px;
}
.ordernow-content p{
    color: #009E60;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}
.ordernow-content{
    align-items: center;
}
.amount-content{
    display: none;
}

@media (max-width:600px) {
    .amount-content{
        display: flex;
    }
    .crispyimg1{
        display: none;
    }
    .imagerow1-button-top{
        font-size: 12px;
        padding: 3px 10px;
    }
    .imagerow1-button{
        font-size: 12px;
        padding: 3px 10px;
    }
    .orderhistory-hrline{
        display: none;
    }
    .one-order{
        display: none;
    }
    .one-item{
        display: flex;
    }
    .row1-orderhistory{
        margin-bottom: 50px;
    }
    .imagerow1{
        box-shadow: 3px 3px 4px rgb(0 0 0 / 15%);
    }
    .my-profile-content{
        display: none;
    }
    .row1-orderhistory{
        margin-top: 20px;
    }
    .myorder-heading{
        margin-left: 22px;
    }
}
