
.vertical-navbar-left{
    width: 260px;
    height: 100vh;
    background-color:white;
    border-right: 2px solid #DBDBDB;
}
.vertical-content{
    color: #838181;
    padding: 0px 30px;
    position: relative;
    margin-top: 10px;
}
.bar-links {
    flex-direction: column;
    text-decoration: none;
    width: 100%;
}
.bar-links p:hover{
    color: #009E60;
    border-right: 3px solid #009E60 ;
}
.bar-links p:focus{
    color: #009E60;
    border-right: 3px solid #009E60 ;
}
.vertical-myprofile-content{
    display: none;
}


@media (max-width: 768px) {
    .vertical-navbar-left {
        width: 100%;
        height: 25px;
        border-right: none;
        border-bottom: 2px solid #DBDBDB;
      }
      .bar-links{
        flex-direction: row;
        justify-content: space-around;
      }
      .bar-links p:hover{
        color: #009E60;
        border-bottom: 3px solid #009E60 ;
        border-right: none;
    }
    .vertical-content{
        margin-top: 0px;
        font-size: 15px;
        padding: 0px;
    }
    .bar-links p:focus{
        color: #009E60;
        border-bottom: 3px solid #009E60 ;
    }
    .vertical-myprofile-content{
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
}