.invoice-ordernow {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    top: 13.5%;
    transform: translate(0%, 0%);
    z-index: 99;
    display: flex;
    justify-content: center;
  }
  .invoice-container {
    width: 35%;
    background-color: white;
    border-radius: 15px;
    height: 80%;
  }
  .ordernumber-heading{
    font-size: 18px;
  } 